{% from "frappe/templates/includes/macros.html" import square_image_with_fallback %}

<div class="comment-row media">
    {{ square_image_with_fallback(src=frappe.get_gravatar(comment.comment_email or comment.sender), size='extra-small', alt=comment.sender_full_name, class='align-self-start mr-4') }}
    <div class="media-body">
        <div class="d-flex justify-content-between align-items-start">
            <span class="font-weight-bold text-muted">
                {{ comment.sender_full_name or comment.comment_by }}
            </span>
            <div class="btn-group {{ hidden if not comment.attachments else ''}}">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{_("Preview Image")}}
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="min-width: 600px;">
                    <img src="{{ comment.attachments[0].file_url if comment.attachments else '' }}" alt="Comment Attachment">
                </div>
            </div>
            <span class="text-muted small">
                {{ comment.creation | global_date_format }}
            </span>
        </div>
        <div class="text-muted">
            {{ comment.content | markdown }}
        </div>
    </div>
</div>
